<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tables</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="5">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>

	<div class="container">
		<table class="table">
			<tbody id="boxed">
				<tr>
					<th>Player 1 (Whole): <%= locals.player1Name %>
					</th>
					<th>Player 2 (Half): <%= locals.player2Name %>
					</th>
				</tr>
				<tr>
					<th>Minutes played: <%= locals.minutes %>
					</th>
					<th>Game ID: <%= locals.gameid %>
					</th>
				</tr>
		</table>
	</div>
	</div>
	<div class="container">
		<form id="boxed">
			<div class="container2">
				<h3 class="center">Latest ball positions</h3>
				<!--Om vi sender status = true så blir bilde grønt-->
				<% if(locals.constatus==true) { %>
					<img class="object-fit-cover" src="<%=locals.gameimage  %>" width="1280" height="731" alt="">
					
					<!--Ellers blir bildet grået ut med css og teksten under blir plassert midt på billiardbordet-->
					<% } else{ %>
						<img class="img-inactive" src="/img/pooltable.png" width="1280" height="731" alt="">
						<!--Bilde er funnet på google-->
						<div class="centered-text">

							<% if(locals.winner){ %>
								<label>The game with gameID: <%=locals.gameid %> has ended.</label>
								<label>The winner was: <%=locals.winner %>
								</label>
								<% } else{ %>
									<label>No data was found related to gameID: <%=locals.gameid %>.</label>
									<label>Maybe you typed the wrong gameID?</label>
									<% } %>
						</div>
						<% } %>
			</div>
		</form>
	</div>




	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>