<!DOCTYPE html>
<html lang="en">

<head>
	<title>New game</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="5">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>


	<div class="container-medium">
		<form id="boxed">
			</h3>
			<!--Yellow message for a unsuccessful function-->
			<% if(message.length> 0) { %>
				<div class="alert alert-warning">
					<%= message%>
				</div>
				<% }%>
					<div>
						<h2>Game ID: <%= locals.gameid%>
						</h2>
						<h4>Table: <%= tableid%>
						</h4>
						<br>
					</div>
					<div>
						<h3>Player 1: <%= locals.username1%>
						</h3>
						<h3>Player 2: <%= locals.username2%>
						</h3>
					</div>
				</form>
	</div>	

	<div class="container-medium">
		<form id="boxed">
			<div>
				<form action="/game/cancel/<%=locals.gameid%>" method="GET">
					<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
					<input type="hidden" value="<%= locals.username1%>" name="username1" />
					<input type="hidden" value="<%= locals.username2%>" name="username2" />
					<button class="btn btn-danger" id="submit-cancel" type="submit">Cancel game</button>
				</form>
				<% if (locals.gamestatus==true) { %>
					<!--If the game has allready been started. The user should not be able to start it again. -->
					<form action="/livegame/<%=locals.gameid%>" method="GET">

						<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
						<input type="hidden" value="<%= locals.username1%>" name="username1" />
						<input type="hidden" value="<%= locals.username2%>" name="username2" />
						<button class="btn btn-primary" id="submit" type="submit">Resume game</button>
					</form>
					<% } else { %>
						<form action="/game/start/<%=locals.gameid%>" method="POST">
							<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
							<input type="hidden" value="<%= locals.username1%>" name="username1" />
							<input type="hidden" value="<%= locals.username2%>" name="username2" />
							<button class="btn btn-success" id="submit" type="submit">Start game</button>
						</form>
						<% } %>

			</div>
		</form>
		</div>
			<div>
				
			</div>

		</form>

	</div>


					

		
		<div>
			<!-- Henter fram footer fra partials mappen -->
			<%- include('partials/footer') %>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>

</html>