<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tables</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>

	<div class="container">
		<table class="table">
			<tbody id="boxed">
				<tr>
					<th>Player 1 (Whole): <%= locals.player1Name %>
					</th>
					<th>Player 2 (Half): <%= locals.player2Name %>
					</th>
				</tr>
				<tr>
					<th>Minutes played: <%= locals.minutes %>
					</th>
					<th>Game ID: <%= locals.gameid %>
					</th>
				</tr>
				<tr>
					<th> Winner: <%= locals.winner %>
					</th>
					<th> Loser: <%= locals.loser %>
					</th>
				</tr>
		</table>
	</div>
	</div>
	<div class="container">
		<div id="boxed">
			<div class="container2">
				<h3 class="center" id="pooltitle"></h3>
				<button class="btn btn-secondary" onclick="plusDivs(-1)">&#10094;</button>
				<button class="btn btn-primary" onclick="plusDivs(+1)">&#10095;</button>
				<% for(var i=0; i < images.length; i++) { %>
					<img class="object-fit-cover" src="<%=locals.images[i]  %>" width="1280" height="731" alt="">
					<% } %>

			</div>
		</div>
	</div>


	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script>

		//Ref: https://www.w3schools.com/w3css/w3css_slideshow.asp
		var slideIndex = 1;
		showDivs(slideIndex);

		function plusDivs(n) {
			showDivs(slideIndex += n);
			
		}

		function showDivs(n) {
			var i;
			var x = document.getElementsByClassName("object-fit-cover");
			if (n > x.length) { slideIndex = 1 }
			if (n < 1) { slideIndex = x.length };
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			x[slideIndex - 1].style.display = "block";
			document.getElementById('pooltitle').innerHTML = "Play number: " + slideIndex + " of " + x.length
			
			
		}
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>