<!DOCTYPE html>
<html lang="en">

<head>
	<title>Your profile</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>



    <div class="container">
	</form>
	<% if(messages.error) { %>
		<div class="alert alert-warning">
			<%= message.error%>
		</div>
		<% }%>
	<form id="contact" action='/' method="POST">
	  <h3>Velkommen!
		  Username: <%=locals.Username%>
		User ID: <%=locals.user%> </h3>
		
		<h4>If you have edit any parameters please press update.</h4>
		<button name="submit" type="submit" id="boxed-submit" data-submit="...Sending">Update</button>
	  </div>
	</form>
  </div>
				<div>
					<!-- Henter fram footer fra partials mappen -->
					<%- include('partials/footer') %>
				</div>
				<script src="/js/jquery.min.js"></script>
				<script src="/js/bootstrap.min.js"></script>
</body>

</html>