<!DOCTYPE html>
<html lang="en">

<head>
	<title>Your profile</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar', {username:username}) %>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<h2>Welcome <%=locals.username%>!</h2>
					<h5>Your our <%=locals.user%>th user to sign up!</h5>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<% if (locals.ingame == false) { %>

						<% if(locals.gamemessage.length> 0) { %>
							<div class="alert alert-warning">
								<%= gamemessage %>
							</div>
							<% }%>
						<form class="form-inline" action="/user/dashboard/newgame" method="POST">
							<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
							<h6>You can find the table ID printed on your table.</h6>
							<div class="form-group mx-sm-3 mb-2">
								<input type="number" class="form-control" name="tableid" id="tableid" placeholder="Table ID"
									required>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Create a game</button>
	
						</form>
	
						<form class="form-inline" action="/user/dashboard/joingame/" method="POST">
							<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
							<div class="form-group mx-sm-3 mb-2">
								<input type="number" class="form-control" name="gameid" id="gameid" placeholder="Game ID"
									required>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Join game</button>
						</form>

						  <% } else { %>
							
							<form class="form-inline" action="/game/<%=locals.gameid%>" method="GET">
								<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
								<div class="form-group mx-sm-3 mb-2">
									<h6>Looks like your already in a game.</h6>
								</div>
								<button type="submit" class="btn btn-primary mb-2">Resume game</button>
							</form>
							<br>
							<br>
		
							  <% } %>

				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<a class="btn btn-primary btn-large" href="/tournament/new">Start a tournament!</a>
					<h5>Get your friends, family or colleagues and start your own tournament</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>
					Stats about your last game
				</h2>
				<p>
				<div>
					<canvas id="lastgame"></canvas>
				</div>
				</p>

			</div>
			<div class="col-md-4">
				<h2>
					Edit user details
				</h2>
				<p>
				<form id="boxed" method="POST">
					<% if(locals.message.length> 0) { %>
						<div class="alert alert-success">
							<%= message %>
						</div>
						<% }%>
							<div>
								<lable for="firstname">First name:</lable>
								<input type="text" id="firstname" name="firstname" value="<%=locals.firstname%>"
									required />
							</div>
							<div>
								<lable for="lastname">Last name:</lable>
								<input type="text" id="lastname" name="lastname" value="<%=locals.lastname%>"
									required />
							</div>
							<div>
								<lable for="email">Email addres:</lable>
								<input type="email" id="email" name="email" value="<%=locals.email%>" required />
							</div>
							<button name="submit" type="submit" id="boxed-submit" data-submit="...Sending">Update user
								details</button>
				</form>
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Your stats
				</h2>
				<p>
				<div>
					<canvas id="overall"></canvas>
				</div>


				</p>
				<p>

				</p>
			</div>
		</div>
	</div>
	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script>
		const ctx = document.getElementById('overall').getContext('2d');
		const lastgameCharts = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ['Fastest loss', 'Other users', 'Fastest win', 'Other users', 'Average playtime', 'Other users'],
				datasets: [{
					label: 'x',
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(255, 99, 132, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(153, 102, 255, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(255, 99, 132, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(153, 102, 255, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				indexAxis: 'y',
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});




	</script>
	<script>
		const ctx2 = document.getElementById('lastgame').getContext('2d');
		const overallChart = new Chart(ctx2, {
			type: 'bar',
			data: {
				labels: ['Time played', 'Your average playtime', 'Score', 'Your average score'],
				datasets: [{
					label: 'x',
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(255, 99, 132, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(255, 206, 86, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(255, 99, 132, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(255, 206, 86, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				indexAxis: 'y',
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});




	</script>
	<script>

	</script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>