<!DOCTYPE html>
<html lang="en">

<head>
	<title>Your profile</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar', {username:username}) %>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<h2>Welcome <%=locals.username%>!</h2>
					<h5>You're our <%=locals.user%>th user to sign up!</h5>
					<br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<% if (locals.ingame==false) { %>
						<form class="form-inline" action="/game/create" method="POST">
							<% if(locals.gamemessage.length> 0) { %>
								<div class="alert alert-warning">
									<%= gamemessage %>
								</div>
								<% }%>
									<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
									<h6>You can find the table ID printed on your table.</h6>
									<div class="form-group mx-sm-3 mb-2">
										<input type="number" class="form-control" name="tableid" id="tableid"
											placeholder="Table ID" required>
									</div>
									<button type="submit" class="btn btn-primary mb-2">Create a game</button>

						</form>

						<form class="form-inline" action="/user/dashboard/joingame/" method="POST">
							<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
							<div class="form-group mx-sm-3 mb-2">
								<input type="number" class="form-control" name="gameid" id="gameid"
									placeholder="Game ID" required>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Join game</button>
						</form>

						<% } else { %>

							<form class="form-inline" action="/game/<%=locals.gameid%>" method="GET">
								<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
								<div class="form-group mx-sm-3 mb-2">
									<% if(locals.gamemessage.length> 0) { %>
										<div class="alert alert-warning">
											<%= gamemessage %>
										</div>
										<% }%>
											<h6>Looks like your already in a game</h6>

								</div>
								<div class="form-group mx-sm-3 mb-2">
									<h6>You have to finish the game before you can start a new game</h6>
								</div>
								<br>
								<button type="submit" class="btn btn-primary mb-2">Resume game</button>
							</form>

							<% } %>

				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<% if (locals.ingame==false) { %>
						<a class="btn btn-primary btn-large" href="/tournament/new">Start a tournament!</a>
						<h5>Get your friends, family or colleagues and start your own tournament</h5>
						<% } else { %>
							<form class="form-inline" action="/game/<%=locals.gameid%>" method="GET">
								<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
								<div class="form-group mx-sm-3 mb-2">
									<h6>Looks like your already in a game</h6>

								</div>
								<div class="form-group mx-sm-3 mb-2">
									<h6>You have to finish the game before you can start a tournament</h6>
								</div>
								<br>
								<button type="submit" class="btn btn-primary mb-2">Resume game</button>
							</form>
							<% } %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<h2>
						Show previous games
					</h2>
					<% if (gamelist.length !=0) { %>
						<p>
							<h6>Here you can see a playthrough of your previous matches.  Just select a gameID from the list<br>
							</h6>
						</p>
							<% } %>

					<form class="form-inline" action="/game/previous/" method="POST">
						<% if (gamelist.length !=0) { %>
							<select id="gameid" name="gameid" class="form-control" searchable="Search here..">
								<% for(var i=0; i < gamelist.length; i++) { %>
									<option value="<%= gamelist[i]%>">GameID: <%= gamelist[i] %>
									</option>
									<% } %>
							</select>
							<br>
							<button onclick="show()" id="submitbutton" type="submit"
								class="btn btn-primary mb-2">Show</button>
							<div id="loadinganimation" class="spinner-border text-primary" role="status">
								<span class="sr-only">Loading...</span>

							</div>
							<div id="loadingtext">
								<h7>Loading... This can take up to 10 seconds</h7>
							</div>
							<% } else { %>

								<h5> No games found</h5>
								<% } %>
					</form>
				</div>
			</div>

			<div class="col-md-4">
				<h2>
					Your win/loss ratio
				</h2>
				<p>
				<div>
					<canvas id="overall"></canvas>
				</div>


				</p>
				<p>

				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Edit user details
				</h2>
				<p>
				<form id="boxed" method="POST">
					<% if(locals.message.length> 0) { %>
						<div class="alert alert-success">
							<%= message %>
						</div>
						<% }%>
							<div>
								<lable for="firstname">First name:</lable>
								<input type="text" id="firstname" name="firstname" value="<%=locals.firstname%>"
									required />
							</div>
							<div>
								<lable for="lastname">Last name:</lable>
								<input type="text" id="lastname" name="lastname" value="<%=locals.lastname%>"
									required />
							</div>
							<div>
								<lable for="email">Email addres:</lable>
								<input type="email" id="email" name="email" value="<%=locals.email%>" required />
							</div>
							<button name="submit" type="submit" id="boxed-submit" data-submit="...Sending">Update user
								details</button>
				</form>
				</p>
			</div>
		</div>
	</div>
	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script>
		function hideloading() {
			document.getElementById("loadinganimation").style.display = "none"; //Hiding loading wheel
			document.getElementById("loadingtext").style.display = "none"; //Hiding loading text
		}


		window.onload = hideloading() </script>
	<script src="/js/jquery.min.js"></script>
	<script>

		//This script will generate a chart with the users win/loss ratio.
		const ctx = document.getElementById('overall').getContext('2d');
		const lastgameCharts = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ['Your W/L ratio', 'Average W/L ratio'],
				datasets: [{
					data: ["<%=locals.personalWL%>", "<%=locals.averagewl%>"],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(153, 102, 255, 0.2)',
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(153, 102, 255, 1)',
					],
					borderWidth: 1
				}]
			},
			options: {
				indexAxis: 'y',
				scales: {
					xAxes: [{
						display: false
					}],
					yAxes: [{
						display: false
					}],
				},
				tooltips: {
					enabled: false,
				},
				plugins: { legend: { display: false }, } //Removes the dataset label
			}
		});
	</script>
	<script>
		function show() {
			var loading = document.getElementById("loadinganimation").style.display = "block"; //Shows loading circle
			var loading = document.getElementById("loadingtext").style.display = "block"; //Shows text that we are loading

			var button = document.getElementById("submitbutton").style.display = 'none'; //Hiding the submit button

		}


	</script>

	<script src="/js/bootstrap.min.js"></script>
</body>

</html>